VITE_GEMINI_API_KEY=your_gemini_api_key_here
# If you're using the free tier version of the Gemini API, leave this value true.
# This is necessary to comply with the free request per minute limit. Otherwise, set it to false.
VITE_FREE_TIER_GEMINI=true
